body {
	background-color: #17252A;
}

.title-box {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #DEF2F1;
	margin-left: 10vw;
	margin-right: 10vw;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	color: #FEFFFF;
}

.list-item {
	display: flex;
	margin: 50px;
	padding: 30px;
	background-color: #2B7A78;
	border-radius: 5px; 
	width: calc(100vw/5);
	justify-content: center;
}

.list-item:hover {
	background-color: #3AAFA9;
	cursor: pointer;
}